* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  gap: 10px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
}

#customising-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

#container {
  width: 512px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
}

#container > * {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  background-color: white;
}

button {
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  border-radius: 6px;
}

#customising-options > * {
  cursor: pointer;
}

#customising-options input {
  background-color: black;
  width: 90px;
  height: 40px;
}

.random-on {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
